.inner-page-banner {
	display: block;
	padding: 2rem 0;
	position: relative;
	height: 150px;

	.breadcrumbs-area {
		position: relative;
		z-index: 1;

		ul {
			padding: 0;
			margin: 0;
			color: #fff;

			li {
				display: inline-block;
				color: lighten($blue, 30);
				font-size: 16px;
				position: relative;
				margin-right: 5px;
				padding-right: 15px;

				&:not(:last-child):before {
					content: ">";
					position: absolute;
					font-size: 16px;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					z-index: 5;
					color: #ebeaea;
				}

				a {
					color: #ebeaea;
				}
			}
		}
	}

	h1, h2, h3, h4, h5, h6 {
		letter-spacing: .1rem;
		color: #fff;
	}
}
